{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="{% static 'inicio/img/favicon.png'%}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'inicio/img/favicon.png'%}" type="image/x-icon">
  <link rel="icon" href="{% static 'inicio/img/favicon.png'%}" type="image/png">
	<meta name="theme-color" content="#000"/>
	<title>lilus | Vestidos de niña </title>
	<!-- css propio -->
	<link rel="stylesheet" href="{% static 'inicio/css/style.css' %}" type="text/css"/>
	<!-- css bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- css otras fuentes -->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|EB+Garamond|Karla|Lato&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css" type="text/css"/>
	<script src="https://kit.fontawesome.com/ebc0e8d4d6.js"></script>

</head>
<body>
	<div class="cookiesms shadow-lg " id="cookie1">
	  Esta web utiliza cookies,
	  Si continuas navegando estás aceptándolas. <a href="">Leer más</a>
	  <div onclick="controlcookies()" class="botonCookie"><i class="fas fa-times"></i></div>
	</div>

	<!-- marcador de idioma
	<div class="idiomaDiv">
		<i class="fas fa-caret-down"></i>
		<i class="fas fa-globe-europe"></i>
		<select class="idiomaSelect">
			<option value="España" selected>Español</option>
			<option value="Italia">English</option>
			<option value="Italia">Français</option>
		</select>
	</div>
	-->
	<!-- marcador de favoritos -->
	<a href="{% url 'favoritos' %}" class="favoritosBoton">
		<i class="far fa-heart"></i>
	</a>
	<!--- navegador ordenador -->
	<div class="pt-3 pb-2 r-2 text-center border-bottom navegadorOrdenadorDiv" style="background: #fff;" id="nav">
		<div class="busqueda">
			<form action="{% url 'buscador' %}">
				<div class="busquedaLupa"><i class="fas fa-search"></i></div>
				<input type="text" id="activarBuscador"placeholder="Buscar...">
			</form>
		</div>

		<img src="{% static 'inicio/img/logo.png' %}" alt="lilus" class="logoPortada mb-3" id="menu" onclick="window.location ='{% url 'inicio'%}';">
		<ul class=" navegadorOrdenador">
	    <li><a>VESTIDOS DE COMUNIÓN</a>
				<ul>
					<div class="lineaSeparadoraMenu">
						{% for coleccion in coleccion %}
							{% if coleccion.tipo == 'Comunion' %}
								<li><a  href="{% url 'coleccion' coleccion.id %}">{{coleccion.nombre}}</a></li>
							{% endif %}
						{% endfor %}
						<!-- foto del menu -->
						<div class="imagenMenu" style="background: url({% static 'inicio/img/verano2018/1.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
					</div>
				</ul>
			</li>
	    <li><a>VESTIDOS DE VERANO</a>
				<ul>
					<div class="lineaSeparadoraMenu">
						{% for coleccion in coleccion %}
							{% if coleccion.tipo == 'Verano' %}
								<li><a  href="{% url 'coleccion' coleccion.id%}">{{coleccion.nombre}}</a></li>
							{% endif %}
						{% endfor %}
						<!-- foto del menu -->
						<div class="imagenMenu" style="background: url({% static 'inicio/img/verano2018/2.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
					</div>
				</ul>
			</li>
	    <li><a>VESTIDOS DE BAUTIZO</a>
				<ul>
					<div class="lineaSeparadoraMenu shadow-sm">
						{% for coleccion in coleccion %}
							{% if coleccion.tipo == 'Bautizo' %}
								<li><a  href="{% url 'coleccion' coleccion.id%}">{{coleccion.nombre}}</a></li>
							{% endif %}
						{% endfor %}
						<!-- foto del menu -->
						<div class="imagenMenu" style="background: url({% static 'inicio/img/verano2018/3.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
					</div>
				</ul>
			</li>
			<li><a href="{% url 'evento' %}">EVENTOS</a></li>
			<li><a href="{% url 'puntosDeVenta' %}">PUNTOS DE VENTA</a></li>
			<li><a href="{% url 'contacto'%}" class="color: #000">CONTACTO</a></li>
		</ul>
	</div>
	<!--- navegador movil -->
	<div class="navegadorMovilDiv fixed-top shadow-sm ">
		<img src="{% static 'inicio/img/logo.png' %}" alt="lilus" class="logoPortadaMovil" onclick="window.location ='{% url 'inicio'%}';">
		<div class="menuPalos" id="ponerMenu">
			<div class="menuPalo1"></div>
			<div class="menuPalo2"></div>
			<div class="menuPalo3"></div>
		</div>
		<div class="busqueda2" id="activarBuscadorMovil">
			<i class="fas fa-search"></i>
		</div>
	</div>

	<nav id="sidebar">
		<ul class="menuMovil">
			<li><a href="{% url 'inicio'%}">INICIO</a></li>
			<li><a class="text-danger">VESTIDOS DE COMUNIÓN</a>
				<ul>
					{% for coleccion in coleccion %}
						{% if coleccion.tipo == 'Comunion' %}
							<li><a href="{% url 'coleccion' coleccion.id%}">· {{coleccion.nombre}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>

			<li><a>VESTIDOS DE VERANO</a>
				<ul>
					{% for coleccion in coleccion %}
						{% if coleccion.tipo == 'Verano' %}
							<li><a href="{% url 'coleccion' coleccion.id%}">· {{coleccion.nombre}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
			<li><a>VESTIDOS DE BAUTIZO</a>
				<ul>
					{% for coleccion in coleccion %}
						{% if coleccion.tipo == 'Bautizo' %}
							<li><a href="{% url 'coleccion' coleccion.id%}">· {{coleccion.nombre}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
			<li><a  href="{% url 'evento' %}">EVENTOS</a></li>
			<li><a  href="{% url 'puntosDeVenta' %}">PUNTOS DE VENTA</a></li>

			<li><a href="{% url 'contacto'%}">CONTACTO</a></li>
		</ul>

		<div class="row m-0 px-4">
			<div class="col-12 border-top p-0 border-bottom">
					<p class="textoFormulario mb-0 mt-3">Aviso legal</p>
					<p class="textoFormulario mb-0">Politica de cookies</p>
					<p class="mt-2" style="font-size: 12px;color:#747474">
						E-mail: <a href="mailto:lilus@lilus.es" style="color:#747474; font-size: 12px">lilus@lilus.es</a> <br>
						Teléfono: <a href="tel:+34965487509" style="color:#747474;font-size: 12px">965 48 75 09</a> <br>
	        </p>
			</div>
			<div class="footer-copyright text-left py-3 text-dark" style="font-size: 12px">© 2020 - Lilus S.A.</div>
		</div>

	</nav>

	<!-- overlay -->
	<div class="overlay"></div>
	<!-- buscador para movil -->
	<div class="buscadormovil shadow" id="buscadorMovil">
		<div class="cerrarBuscadorMovil" id="cerrarBuscadorMovil">
			<div class="palo1 active"></div>
			<div class="palo2 active"></div>
		</div>
		<div class="col-12 p-4 mt-md-0 mt-5">
			<form action="{% url 'buscador' %}">
				<input type="text" name="busqueda" class="formularioContacto busquedaMotorCampo2" placeholder="Buscar...">
				<button class="btn-dark btn border-0 rounded-0 float-right  px-3 py-2" type="submit"><i class="fas fa-search text-white"></i></button>
			</form>
			<!-- opciones -->
			<p class="textoFormulario mb-2 mt-3">Prueba con:</p>
			<div class="divBusquedaPredeterminada row m-0">
				<form action="{% url 'buscador' %}">
						<input type="text" name="busqueda" style="display:none" value=""/>
						<input type="submit"class="busquedaPredeterminada active" value="Todos"/>
				</form>
				<form action="{% url 'buscador' %}">
						<input type="submit" name="busqueda" class="busquedaPredeterminada" value="Comunión"/>
				</form>
				<form action="{% url 'buscador' %}">
						<input type="submit" name="busqueda" class="busquedaPredeterminada" value="2020"/>
				</form>
				<form action="{% url 'buscador' %}">
						<input type="submit" name="busqueda" class="busquedaPredeterminada" value="2019"/>
				</form>
				<form action="{% url 'buscador' %}">
						<input type="submit" name="busqueda" class="busquedaPredeterminada" value="Comunión 2020"/>
				</form>
				<form action="{% url 'buscador' %}">
						<input type="submit" name="busqueda" class="busquedaPredeterminada" value="Verano"/>
				</form>
				<form action="{% url 'buscador' %}">
						<input type="submit" name="busqueda" class="busquedaPredeterminada" value="Verano 2020"/>
				</form>
			</div>
		</div>
	</div>
	<!-- contenido -->
	<div class="row ml-0 mr-0 pb-3" id="fondo">
		{% block content %}
		{% endblock %}
	</div>
	<!-- java script -->
	<script>
		if (localStorage.controlcookie > 0){
			document.getElementById('cookie1').style.display = 'none';
		}
		function controlcookies() {
			localStorage.controlcookie = (localStorage.controlcookie || 0);
			localStorage.controlcookie++;
			cookie1.style.display='none';
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
	<script> baguetteBox.run('.tz-gallery'); </script>
	<script type="text/javascript" src="jquery-1.7.2.min.js"></script><script type="text/javascript"></script>
	<script type="text/javascript" src="{% static 'inicio/main.js' %}"></script><script type="text/javascript"></script>
</body>

<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
			<div class="col-md-3"></div>
      <div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase text-light" style="font-size: 15px;">INFORMACIÓN</h5>
        <p class="text-light" style="font-size: 12px;">
					Aviso legal<br>
			    Politica de cookies<br>
			    Contacto<br>
        </p>
      </div>
			<div class="col-md-3 mt-md-0 mt-3">
        <h5 class="text-uppercase text-light" style="font-size: 15px;">CONTACTO</h5>
        <p class="text-light" style="font-size: 12px;">
					E-mail: <a href="mailto:lilus@lilus.es" style="color:#fff; font-size: 14px">lilus@lilus.es</a> <br>
					Teléfono: <a href="tel:+34965487509" style="color:#fff;font-size: 14px">965 48 75 09</a> <br>
        </p>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center p-3 text-light" style="font-size: 12px">© 2020 - Lilus S.A.</div>
</footer>
</html>
