{% extends "inicio/base.html" %}
{% load static %}
{% block content %}
<style>
	.menuBlog{
		background: #000!important;
	}
	.menuBlog > a{
		color: #fff!important;
	}
	.menuBlogMovil{
		color: #dc3545!important;
	}
</style>
<div class="container">
	<div class="row p-3 p-md-0">
		<div class="col-12 mt-md-3 px-1 px-lg-2 pt-1 pt-md-2">
			<h5>Blog</h5>
		</div>
		<div class="col-12 px-1 px-lg-2">
			<p class="text-muted">Lo sentimos, aun no tenemos ningún post.</p>
		</div>
	</div>
</div>

{% endblock %}
