{% extends "inicio/base.html" %}
{% load static %}
{% block content %}

<div class="col-12 posicionDiv">
	<p><a href="{% url 'inicio'%}">INICIO</a> / VESTIDOS DE VERANO / VERANO 2018</p>
</div>

<div class="col-12 nombreColeccion">
	<p>COLECCIÓN VERANO 2018</p>
</div>

	<div class="col-12 pl-md-5 pr-md-5 pl-2 pr-2">
		<div class="tz-gallery">
				<div class="row m-0">
						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/1.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/1.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/2.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/2.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/3.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/3.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/4.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/4.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/5.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/5.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/6.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/6.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/7.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/7.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/8.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/8.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/9.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/9.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>

						<div class="col-md-4 col-lg-3 col-6  p-1 p-lg-2">
								<div class="card border-0">
										<a class="lightbox" href="{% static 'inicio/img/verano2018/10.jpg'%}">
										<div class="fotoAlbum"style="background: url({% static 'inicio/img/verano2018/10.jpg'%}) no-repeat;background-size: cover; background-position: 40% center !important;"></div>
										</a>
								</div>
						</div>
				</div>
		</div>
</div>

{% endblock %}
