{% load static %}
<div class="nav_ordenador p-0 m-0">
	<nav class="navbar navbar-expand-md  navbar-dark bg-transparent shadow-sm fixed-top">
		<a class="navbar-brand ml-2" href="{% url 'd_entrenadores' %}"><img src="{% static 'inicio/img/logoFitness2.png' %}" alt="Jorge Tabet" height="32px"></a>
		 <div class="navbar-nav mr-auto mr-2 ml-1">
			</div>
			<!-- Navbar Right Side -->
			<div class="navbar-nav ml-1">

				{% if user.is_superuser %}
					<a class="nav-item nav-link" href="{% url 'clientesAdmin' 'general'%}">
						<div class="itemNav">
							<p>Administrador</p>
						</div>
					</a>
				{% endif %}

				<a class="nav-item nav-link" href="{% url 'd_entrenadores'%}">
					<div class="itemNav">
						<p>App</p>
					</div>
				</a>

				<li class="dropdown">
					<a class="nav-link nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
						<div class="imagenUsuario"style="background-image: url('{{ entrenador.imagen.url }}'); background-size:cover;background-position: 50% center ">
						</div>
					</a>
					<div class="dropdown-menu usuarioDropdown ml-1 mr-3 mb-2 text-left shadow" aria-labelledby="navbarDropdown">
						<a class="dropdown-item pl-2 pr-2" href="{% url 'ajustesPerfil' %}">Ver perfil</a>
						<div class="dropdown-divider mt-2 mb-2"></div>
						<a class="dropdown-item pl-2 pr-2" href="{% url 'logout' %}">Cerrar sesión</a>
					</div>
				</li>


			</div>
	</nav>
</div>
