{% load static %}
<div class="nav_movil p-0 m-0">
				<nav id="sidebar" class="shadow">
					<div class="row p-0 m-0">
					<div class="nombreTutijera">
						<div class="navbar-toggler float-left" id="quitarMenu" style="margin-top: 2.5px!important;">
							<div class="menuEfecto1 bg-dark" style="width: 16px"></div>
							<div class="menuEfecto1 bg-dark" style="width: 12px"></div>
							<div class="menuEfecto1 bg-dark"></div>
						</div>
						<img src="{% static 'inicio/img/logoFitness3.png' %}" class="float-right mr-2" height="35px">
					</div>
						<div class="col-12 pl-2 pr-2 ">
							<div class="col-12 pl-2 pr-2 mt-1">
								<a class="component" href="{% url 'd_entrenadores' %}">
									<span class="icon-lift"></span>&nbsp; &nbsp; App
								</a>
								{% if user.is_superuser %}
								<a class="component" href="{% url 'clientesAdmin' 'general' %}">
									<span class="icon-user-tie"></span>&nbsp; &nbsp; Administrador
								</a>
								{% endif %}
								<div class="dropdown-divider mt-1 mb-1"></div>
								<a class="component" href="{% url 'ajustesPerfil' %}">
									<span class="icon-profile"></span>&nbsp; &nbsp; Perfil
								</a>
								<div class="dropdown-divider mt-1 mb-1"></div>
								<a class="component" href="{% url 'logout' %}">
									Cerrar sesión
								</a>


							</div>
					</div>
				</nav>
				<nav class="navbarMovil pl-lg-5 pr-lg-5 navbar-dark bg-transparent fixed-top">
					<div class="navbar-toggler float-left" id="sidebarCollapse"style="margin-top: 2.5px!important;margin-bottom: 1.5px!important;" >
						<div class="menuEfecto1" style="width: 16px"></div>
						<div class="menuEfecto1" style="width: 12px"></div>
						<div class="menuEfecto1 "></div>
					</div>
					<a href="{% url 'd_atletas' %}" class="imagenLogoMovil">
						<img src="{% static 'inicio/img/logoFitness2.png' %}" alt="tutijera" height="35px">
					</a>
				</nav>
</div>
