{% extends "clientes/base.html" %}
{% load static %}
{% block content %}


<div class="bg-light movil" style="width: 100%">
	<div class="container">
		<div class="row p-3 p-md-0">
			<div class="col-12 mt-2 mb-2 p-1 p-lg-2">
				<form action="{% url 'buscador_cliente' %}">
					<input type="text" name='busqueda' required class="formularioContacto busquedaMotorCampo" placeholder="Buscar...">
					<button class="btn-dark btn border-0 rounded-0 float-right px-md-5 py-md-3 px-3 py-2" type="submit"><i class="fas fa-search text-white"></i></button>
				</form>
			</div> 
		</div>
	</div>
</div>



<div class="row m-0 p-md-5 p-4">
	<div class="col-12 px-2">
		<p class="mb-0 border-bottom pb-3 mb-3">
			FAVORITOS
		</p>
	</div>
	
	<div class="col-12 pl-2 pr-2">
		<div class="tz-gallery">
			<div class="row m-0" id="favoritos">

			</div>
		</div>
	</div>
</div>


<script>
		// leemos los favoritos del localStorage
		var favoritos = localStorage.getItem("favoritos") || "[]";
		favoritos = JSON.parse(favoritos);
		// para cada producto en favoritos
		if(favoritos.length == 0){
			document.querySelector("#noHay").append('Lo sentimos, no hay elementos guardados.');
		}
		for (var x = 0; x < favoritos.length; x++) {
			document.querySelector("#favoritos").insertAdjacentHTML('beforeend', '<div class="col-md-4 col-lg-3 col-6 p-1 p-lg-2"><div class="card border-0" style="position:relative"> <a class="lightbox" href=" '  + favoritos[x].url + ' "><div class="fotoAlbum"style="background: url('  + favoritos[x].url + ') no-repeat;background-size: cover; background-position: 40% center !important;"></div></a>   <button href="#" class="agregar-favoritos desactiveFav favoritosBotonAnadir shadow-sm " id="'  + favoritos[x].id + '" value="'  + favoritos[x].url + '"><i class="far fa-heart"></i></button></div></div>');
		}
</script>


{% endblock %}
